[submodule "dot.vim/bundle/nerdtree"]
	path = dot.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dot.vim/bundle/vim-coffee-script"]
	path = dot.vim/bundle/vim-coffee-script
    url = git://github.com/kchmck/vim-coffee-script.git
[submodule "dot.vim/vim-pathogen"]
	path = dot.vim/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dot.vim/bundle/molokai"]
	path = dot.vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "dot.vim/bundle/mustang2"]
	path = dot.vim/bundle/mustang2
	url = https://github.com/vim-scripts/Mustang2
[submodule "dot.vim/bundle/wombat256"]
	path = dot.vim/bundle/wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "dot.vim/bundle/xoria256"]
	path = dot.vim/bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim
[submodule "dot.vim/bundle/puppet"]
	path = dot.vim/bundle/puppet
	url = https://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "dot.vim/bundle/fuzzyfinder"]
	path = dot.vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "dot.vim/bundle/l9"]
	path = dot.vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
